<?xml version="1.0" encoding="utf-8" ?>
  <unity>
    <typeAliases>
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <!--  <typeAlias alias="IUnitOfWork"
                  type="CF.Repo.commun.IUnitOfWork, CF.Repo" />-->
      <typeAlias alias="IStudentRepository"
                 type="CF.Repo.IStudentRepository, CF.Repo" />
      <typeAlias alias="IStudentService"
                       type="CF.service.IStudentService, CF.service" />
      <typeAlias alias="IDepartementRepository"
                 type="CF.Repo.IDepartementRepository, CF.Repo" />
      <typeAlias alias="IDepartementService"
                       type="CF.service.IDepartementService, CF.service" />

    </typeAliases> 

    <containers>
      <container>
        <types>
          <!--  <type type="IUnitOfWork" mapTo="CF.Repo.commun.UnitOfWork, CF.Repo">
            <lifetime type="singleton" />
          </type>-->
          <type type="IStudentRepository" mapTo="CF.Repo.StudentRepository, CF.Repo">
            <lifetime type="singleton" />
          </type>
          <type type="IStudentService" mapTo="CF.service.StudentService, CF.service">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                <!--  <param name="UnitOfWork" parameterType="IUnitOfWork"/>-->
                <param name="repository" parameterType="IStudentRepository"/>
              </constructor>
            </typeConfig>
          </type>
          <type type="IDepartementRepository" mapTo="CF.Repo.DepartementRepository, CF.Repo">
            <lifetime type="singleton" />
          </type>
          <type type="IDepartementService" mapTo="CF.service.DepartementService, CF.service">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
              <constructor>
                
                <param name="repository" parameterType="IDepartementRepository"/>
              </constructor>
            </typeConfig>
          </type>
        </types>
      </container>
    </containers>
  </unity>



































